.white {
  color: rgb(240, 227, 227);
}

.pop {
  color: rgb(2, 119, 191);
}

.pop-background {
  background-color: rgb(117, 155, 243);
}

.warm-pop {
  color: rgb(231, 206, 103);
}

.light {
  color: rgb(197, 202, 214);
}

.grey-background {
  background-color: rgb(141, 150, 168);
}
